{%- from tplroot ~ "/libs/map.jinja" import mapdata as fluentbit with context %}
[Unit]
Description={{ fluentbit.pkg |replace("-", " ") | title }}
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/{{ fluentbit.pkg }}/bin/{{ fluentbit.pkg }} -c /etc/{{ fluentbit.pkg }}/{{ fluentbit.pkg }}.conf -R /etc/{{ fluentbit.pkg }}/parsers.conf
Restart=always

[Install]
WantedBy=multi-user.target

