{%- macro fluent_config_block(settings, offset=0) -%}
{%- for setting in settings %}
{{ ''|indent(offset, true) }}<{{ setting.directive }} {{ setting.get('directive_arg', '')}}>
{% for attr in setting.attrs -%}
{%- for key, val in attr.items() -%}
{%- if key == 'nested_directives' -%}
{{ fluent_config_block(val, offset + 2) }}
{%- else -%}
{{ key|indent(offset + 2, true) }} {{ val|replace('\\\\', '\\') }}
{% endif -%}
{% endfor -%}
{% endfor -%}
{{ ''|indent(offset, true) }}</{{ setting.directive }}>
{% endfor -%}
{%- endmacro -%}
{{ fluent_config_block(settings) }}