# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set values specific to:
#   salt['config.get']('os_family') == Debian.
#
# You just need to add the key:values for this `os_family` that differ
# from `defaults.yaml` + `<osarch>.yaml`.
#
# If you do not need to provide defaults via the `os_family` config,
# you can remove this file or provide at least an empty dict, e.g.
# values: {}
{% set os_distrubition = grains['lsb_distrib_codename'] %}
---
values:
{%- if 'oscodename' in grains %}
  package:
    use_upstream_repo: true
    repo:
      humanname: Fluentbit Official repo
      name: deb https://packages.fluentbit.io/debian/{{ os_distrubition }} {{ os_distrubition }} main
      file: /etc/apt/sources.list.d/fluentbit.list
      key_url: https://packages.fluentbit.io/fluentbit.key
      comments:
        - installed by saltstack-formula/fluentbit-formula
      gpgcheck: 1
{%- else %}
  {}
{%- endif %}
